.nav{
  font-size: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.nav_list{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}